{
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "routes.js",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
